{% extends "base.html" %}
{% load tag %}
{% block content %}
<a href="/teacher/classroom/create" class="btn btn-info">新增班級</a>
<a href="/teacher/classroom/create" class="btn btn-info">學生帳號</a>
<table class="table">
  <tr>
  <th>班級名稱</th>   
  <th>選課密碼</th>
  <th>功能</th>       
  </tr>
{% for classroom in classroom_list %}
  <tr>
  <td>{{classroom.name}}</td>
  <td>{{classroom.password}}</td>
  <td>
    <a class="btn btn-success" href="/teacher/classroom/{{classroom.id}}/update">修改</a>
    <a class="btn btn-success" href="/student/classroom/{{classroom.id}}/classmate">學生</a>
    <a class="btn btn-success" href="/teacher/announce/{{classroom.id}}/create">公告</a>    	
  </td>
  </tr>
{% endfor %}
</table>
    {% load pagination %}
    {% get_pagination %}
{% endblock %}